.admin-nav {
  position: fixed;
  top: 0;
  left:0px;
  z-index: 1000;
  height: 65px;
  width: 100%;
  background: linear-gradient(90deg, #020617, #0f172a);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  justify-content: space-between;
}

.admin-nav h2 {
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.25s;
}

.nav-links a:hover,
.nav-links a.active {
  background: white;
  color: #020617;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.admin-profile span {
  font-size: 14px;
}

.admin-profile button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 999px;
  cursor: pointer;
}

.admin-profile button:hover {
  background: #1e40af;
}
