.no-cert {
  font-size: 18px;
  color: gray;
  padding: 20px;
}

.cert-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 420px;
  margin-top: 15px;
}

.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.cert-preview-wrapper {
  margin-top: 50px;
  width: 100%;
}

.cert-preview {
  width: 100%;
  height: 700px;   /* BIG PREVIEW */
  border: none;
}
